<h1>Counter (But Actualy Country Stuff For The Lab)</h1>

<p>I would've renamed the files in this but I'm afraid to break stuff, so I'll wait until I know how to FOR SURE.</p>

<!--
<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
<button class="btn btn-secondary" (click)="runTestA()">Run Test A</button>
-->

<button class="btn btn-primary" style="margin-bottom:10px;" (click)="OnClickedChangeCountry()">Change Countries</button>
<p id="CountryName"></p>
<p id="CountryOfficialLanguage"></p>

<!--
<ol>
  <li id="item1">Item 1</li>
  <li id="item2">Item 2</li>
  <li id="item3">Item 3</li>
</ol>
-->
